<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container my-5">
                <h1>My Orders</h1>
                <% if (orders.length <=0) { %>
                    <div class="alert alert-warning text-center" role="alert">
                        <h1>Nothing there!</h1>
                    </div>
                    <% } else { %>
                        <ul class="list-group">
                            <% orders.forEach(order=> { %>
                                <li class="list-group-item mb-3 shadow">
                                    <p class="mb-4">Order# - <%= order._id %>
                                    </p>
                                    Order Status Timeline
                                    <div class="progress mb-4">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100">
                                            Order Placed
                                        </div>
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100">
                                            Processing
                                        </div>
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100">
                                            Shipped
                                        </div>
                                        <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                            aria-valuemax="100">
                                            Delivered
                                        </div>
                                    </div>
                                    Order Details
                                    <ul class="list-group">
                                        <% order.items.forEach(product=> { %>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>"
                                                        class="img-thumbnail mr-3"
                                                        style="width: 80px; height: 80px; object-fit: cover;">
                                                    <div>
                                                        <h5>
                                                            <%= product.title %>
                                                        </h5>
                                                        <p class="mb-0"><strong>Quantity:</strong>
                                                            <%= product.quantity %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="mb-0"><strong>Price:</strong>
                                                    <%= (product.quantity * product.price) %>
                                                </p>

                                            </li>
                                            <% }); %>
                                    </ul>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
            </main>

            <%- include('../includes/end.ejs') %>