<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container my-5">
                <h1>Cart</h1>
                <% if (products.length> 0) { var total = 0; %>
                    <ul class="list-group cart__item-list">
                        <% products.forEach(p=> {
                            total = (p.price * p.quantity) + total;
                            %>
                            <li class="list-group-item cart__item mb-3">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <img width="40%" src="<%= p.imageUrl %>" alt="<%= p.title %>" class="img-fluid">
                                    </div>
                                    <div class="col-md-6">
                                        <h2>
                                            <%= p.title %>
                                        </h2>
                                        <p><strong>Price:</strong> $<%= p.price * p.quantity %>
                                        </p>
                                        <p><strong>Quantity:</strong>
                                            <%= p.quantity %>
                                        </p>
                                    </div>
                                    <div class="col-md-3 text-md-right">
                                        <form action="/delete-cart-item" method="POST">
                                            <input type="hidden" value="<%= p._id %>" name="productId">
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                                <!-- <li class="list-group-item cart__item mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <p><strong>Total :</strong> $<%= total %>
                                            </p>
                                        </div>
                                    </div>
                                </li> -->
                    </ul>
                    <div class="text-center mt-4">
                        <form action="/create-order" method="POST">
                            <input type="hidden" value="<%=  %>" name="productId">
                            <!-- <a href="/checkout" class="btn btn-success btn-lg">Proceed to Checkout</a> -->
                            <button class="btn btn-success btn-lg" type="submit">Order Now!</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="alert alert-warning text-center" role="alert">
                            <h1>No Products in Cart!</h1>
                        </div>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>